*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.info_Music{
    width: 100%;
    padding: 50px 80px;
   
}
.info_Music h2{
   font-weight: 400;
   font-size: 35px;
   text-align: left;
   font-family: Copperplate Gothic;
}

.info_Music h3{
    font-weight: 400;
    font-family: Copperplate Gothic;
    font-size: 30px;
 }

 .info_Music p{
    font-family: none;
    font-size: 17px;
 }

 #vid_mm{
    width: 40%;
    display: inline-block;
   margin-left: 4rem;

    /* margin-left: 50%;
    transform: translate(-50%); */
 }

 .arunSirImg{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
 }

 .arunSirImg img{
    height: 300px;
    width: auto;
 }

p{
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 15px;
}

.container {
    background: #ffffff;
    border-radius: 10px;
   background-color: rgb(240, 232, 219);
   padding-bottom: 30px;
    margin: auto;
}

.container ul li strong{
    font-size: 25px;
    font-weight: 400;
    display: block;
}
h2 {
    text-align: center;
    color: #333;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
li {
    /* margin: 10px 0; */
    color: #555;
}


@media (max-width:768px) {
    

.nav__links .links a{
    margin: 0;
    padding: 0;
}
nav .nav__links .links{
    margin: 0;
    padding: 0;
}

/* .info_Music{
    padding: 40px 40px;
   
} */
.info_Music h2{
   font-weight: 400;
   font-size: 30px;
   text-align: left;
}

.info_Music h3{
    font-weight: 400;
    font-size: 25px;
 }



 .arunSirImg{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 30px;
 }

 #vid_mm{
    display: inline-block;
    width: 80%;
    margin-left: 8vw;
    margin-top: 30px;
 }
 .arunSirImg img{
    height: auto;
    width: 100%;
 }

 /* .arunSirImg .img{
    margin-top: 70px;
 } */

 .info_Music{
    padding: 0px 0px;
   
}


}

@media (max-width:600px) {
    
    .info_Music{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
       
    }
    

.info_Music h2{
   font-weight: 500;
   font-size: 27px;
   text-align: left;
}

.info_Music h3{
    font-weight: 500;
    font-size: 22px;
 }
    }